vl {
    min-width: 1px;
    height: 80%;
    position: relative;
}

vl::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    background-color: white;
}