body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(15px);
}

button {
    border-style: none;
    background-color: transparent;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
