body {
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(5px);
  background-image: url("../images/background.webp");
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

img,
button,
a {
  user-select: none;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
}

button {
  border-style: none;
  background-color: transparent;
}