#Content {
    width: 80rem;
    height: 50rem;
    padding: 1rem;
    margin: 1rem auto;
    user-select: none;
    border-radius: 1rem;
    -webkit-user-select: none;
    box-shadow: 0 0 5px aqua;
    animation: OpacityTo100 1s;
    -moz-user-select: -moz-none;
    border: 1px rgba(255, 255, 255, 0.2) solid;
}

#Content i {
    width: 3rem;
    height: 3rem;
}

#Content h1 {
    font-size: 2em;
    
}

#Content h2 {
    font-size: 1em;
    
}

#Content h3 {
    font-size: 0.8em;
    
}

#Content h1, #Content h2, #Content h3, #Content a {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: -moz-all;
}

#Content * {
    color: mediumturquoise;
}

.TextIcons {
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    margin-right: 1rem;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
}

.Subcontent i, .TextIcons a {
    margin-right: 1rem;
}
