#Content {
    width: 80rem;
    height: 50rem;
    padding: 1rem;
    display: flex;
    overflow-y: auto;
    border-radius: 1rem;
    margin: 0.5rem auto;
    flex-direction: column;
    scroll-behavior: smooth;
    border: 1px rgba(255, 255, 255, 0.2) solid;
}

#Content i {
    margin: 1rem 0.5rem;
    width: 5rem;
    height: 5rem;
}

#Content * {
    color: white;
}

#Content .IconView {
    display: flex;
    flex-direction: row;
}

#Content .icons a{
    width: 5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
}

#Content a:hover {
    color: deepskyblue;
}

#Content p {
    margin: 0;
    color: white;
    font-weight: bold;
    user-select: none;
}
