#Content {
    width: 80rem;
    height: 50rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    animation: OpacityTo100 1s;
    border: 1px rgba(255, 255, 255, 0.2) solid;
}

#Content i {
    width: 3rem;
    height: 3rem;
}

#Content h1 {
    font-size: 2em;
    
}

#Content h2 {
    font-size: 1em;
    
}

#Content h3 {
    font-size: 0.8em;
    
}

#Content * {
    color: white;
}

.TextIcons {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1rem;
    text-align: center;
}

.Subcontent i, .TextIcons a {
    margin-right: 1rem;
}
