#Introduce {
    display: flex;
    height: 20rem;
    width: 40rem;
    margin-top: 1rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

#Introduce img {
    border-radius: 100%;
    animation: HalfRotation 5s linear infinite;
}

#Introduce p {
    color: dodgerblue;
    font-weight: bold;
    text-align: center;
    font-family: ZCOOLKuaiLe;
}

#Introduce * {
    margin: 0 1rem;
}

#Introduce vl {
    animation: HeightToPercent80 2s;
}
