#TechnologyStack {
    width: 40rem;
    display: flex;
    margin: 0.5rem;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 1rem;
    border: 1px rgba(255, 255, 255, 0.2) solid;
}

#TechnologyStack a {
    display: flex;
    margin: 0 1rem;
    overflow: hidden;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
}

#TechnologyStack p {
    color: white;
    font-weight: bold;
    user-select: none;
    margin: 5px auto;
}

#TechnologyStack h1 {
    width: 100%;
    color: white;
    font-size: 1.5rem;
}

#TechnologyStack h2 {
    width: 100%;
    margin: 1rem;
    color: white;
    text-align: left;
    font-size: 1.3rem;
}

#TechnologyStack i {
    width: 3rem;
    height: 3rem;
}

#TechnologyStack .Gradient_Text {
    color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}