#Introduce {
    width: 50rem;
    display: flex;
    height: 10rem;
    align-items: center;
    margin: 0.5rem auto;
    border: 1px rgba(255, 255, 255, 0.2) solid;
}

#Introduce .Left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Introduce .Left img {
    border-radius: 100%;
    animation: HalfRotation 5s linear infinite;
}

#Introduce .Right {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#Introduce .Right p {
    color: grey;
    font-weight: bold;
    text-align: center;
    font-family: ZCOOLKuaiLe;
}