#NavigationBar .Left {
    height: 3rem;
    display: flex;
    align-items: center;
}

#NavigationBar .Right {
    height: 3rem;
    display: flex;
    align-items: center;
}

#NavigationBar .Title {
    color: white;
    font-size: 100%;

    margin-left: 10px;
    user-select: none;
    font-weight: lighter;
    font-family: Fasthand;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    border-bottom: 1px solid white;
}

#NavigationBar .Subheading {
    color: white;
    font-size: 100%;
    margin-left: 10px;
    user-select: none;
    font-weight: lighter;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
}
