#NavigationBar {
    margin: 5px auto;
    display: flex;
    align-items: center;
    width: 70rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px rgba(255, 255, 255, 0.2) solid;
}

#NavigationBar a {
    display: flex;
    height: 100%;
    width: 4.5rem;
    align-items: center;
    justify-content: center;
    color: white;
    user-select: none;
    text-decoration: none;
    font-size: 14px;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

#NavigationBar a:hover {
    height: 80%;
    width: 4.5rem;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.1);
}
