#NavigationBar {
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    width: 70rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px rgba(255, 255, 255, 0.2) solid;
}

#NavigationBar a, button {
    display: flex;
    height: 100%;
    width: 4.5rem;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#NavigationBar a:hover, #NavigationBar button:hover {
    height: 80%;
    width: 4.5rem;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.1);
}

#NavigationBar .TitleMain {
    margin: 0 auto;
    color: white;
}

p {
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}
